<script>
  import { onMount } from "svelte";
  import { Grid, Text, Heading } from "fvscl";
  import Highlight from "./Highlight.svelte";

  let minus2H;
  let minus1H;
  let zeroH;
  let plus1H;
  let plus2H;
  let plus3H;
  let plus4H;
  let plus5H;
  let screenWidth;
  let currentScale;
  function go() {
    let minus2 = document.querySelector(".minus2");
    let minus2Width = window.getComputedStyle(minus2);
    minus2H = minus2Width
      .getPropertyValue("height")
      .slice(0, -2)
      .substring(0, 5);
    let minus1 = document.querySelector(".minus1");
    let minus1Width = window.getComputedStyle(minus1);
    minus1H = minus1Width
      .getPropertyValue("height")
      .slice(0, -2)
      .substring(0, 5);
    let zero = document.querySelector(".zero");
    let zeroWidth = window.getComputedStyle(zero);
    zeroH = zeroWidth
      .getPropertyValue("height")
      .slice(0, -2)
      .substring(0, 5);
    let plus1 = document.querySelector(".plus1");
    let plus1Width = window.getComputedStyle(plus1);
    plus1H = plus1Width
      .getPropertyValue("height")
      .slice(0, -2)
      .substring(0, 5);
    let plus2 = document.querySelector(".plus2");
    let plus2Width = window.getComputedStyle(plus2);
    plus2H = plus2Width
      .getPropertyValue("height")
      .slice(0, -2)
      .substring(0, 5);
    let plus3 = document.querySelector(".plus3");
    let plus3Width = window.getComputedStyle(plus3);
    plus3H = plus3Width
      .getPropertyValue("height")
      .slice(0, -2)
      .substring(0, 5);
    let plus4 = document.querySelector(".plus4");
    let plus4Width = window.getComputedStyle(plus4);
    plus4H = plus4Width
      .getPropertyValue("height")
      .slice(0, -2)
      .substring(0, 5);
    let plus5 = document.querySelector(".plus5");
    let plus5Width = window.getComputedStyle(plus5);
    plus5H = plus5Width
      .getPropertyValue("height")
      .slice(0, -2)
      .substring(0, 5);
    screenWidth = window.innerWidth;
    currentScale = Math.round((plus1H / zeroH) * 1000) / 1000;
  }
  onMount(() => {
    go();
    window.addEventListener("resize", go);
    window.addEventListener("change", go);
  });
</script>

<style>
  :global(body) {
    margin: var(--gap);
  }
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto var(--space-2);
    justify-items: center;
    align-items: end;
    overflow-x: auto;
  }

  .minus2 {
    height: var(--space--2);
  }
  .minus1 {
    height: var(--space--1);
  }
  .zero {
    height: var(--space-0);
  }
  .plus1 {
    height: var(--space-1);
  }
  .plus2 {
    height: var(--space-2);
  }
  .plus3 {
    height: var(--space-3);
  }
  .plus4 {
    height: var(--space-4);
  }
  .plus5 {
    height: var(--space-5);
  }
  span {
    width: 100%;
    background: var(--color-dark);
    box-shadow: var(--border-width-base) 0 0 0 var(--color-info-text) inset;
    background-color: var(--color-dark);
  }
  .plus5 {
    box-shadow: var(--border-width-base) 0 0 0 var(--color-info-text) inset,
      calc(var(--border-width-base) * -1) 0 0 0 var(--color-info-text) inset;
  }
  .zero {
    background: var(--color-info-border);
  }
  .grid div {
    white-space: pre;
    margin: 0 var(--space--2);
  }
  @media (max-width: 800px) {
    .grid {
      grid-template-columns: 1fr auto;
      grid-template-rows: repeat(8, auto);
      grid-auto-flow: column;
      gap: var(--gap);
      align-items: start;
      justify-items: start;
    }
    span,
    .plus5 {
      box-shadow: none;
    }
  }
</style>

<Grid density="loose">
  <Text fontSize="lg" margin="none">
    At
    <Highlight>{screenWidth}px</Highlight>
    wide the base size for
    <strong>FVSCL</strong>
    is
    <Highlight>{zeroH}px</Highlight>
    and the current scale is
    <Highlight>{currentScale}.</Highlight>
  </Text>
  <Text fontSize="sm">
    The base size will be between
    <Highlight>14px and 24px</Highlight>
    and the scale will be between
    <Highlight>1.125 and 1.414.</Highlight>

  </Text>
  <div class="grid">
    <span class="minus2" />
    <span class="minus1" />
    <span class="zero" />
    <span class="plus1" />
    <span class="plus2" />
    <span class="plus3" />
    <span class="plus4" />
    <span class="plus5" />
    <div>
      <Text margin="none" fontSize="xs" class="minus2">
        <Highlight>{minus2H}px</Highlight>
      </Text>
    </div>
    <div>
      <Text margin="none" fontSize="xs" class="minus1">
        <Highlight>{minus1H}px</Highlight>
      </Text>
    </div>
    <div>
      <Text margin="none" fontSize="xs" class="zero">
        <Highlight>{zeroH}px</Highlight>
      </Text>
    </div>
    <div>
      <Text margin="none" fontSize="xs" class="plus1">
        <Highlight>{plus1H}px</Highlight>
      </Text>
    </div>
    <div>
      <Text margin="none" fontSize="xs" class="plus2">
        <Highlight>{plus2H}px</Highlight>
      </Text>
    </div>
    <div>
      <Text margin="none" fontSize="xs" class="plus3">
        <Highlight>{plus3H}px</Highlight>
      </Text>
    </div>
    <div>
      <Text margin="none" fontSize="xs" class="plus4">
        <Highlight>{plus4H}px</Highlight>
      </Text>
    </div>
    <div>
      <Text margin="none" fontSize="xs" class="plus5">
        <Highlight>{plus5H}px</Highlight>
      </Text>
    </div>
  </div>
</Grid>
